html {
  box-sizing: border-box;
  background-color: rgba(200, 200, 200, .5);
}

* {
  box-sizing: inherit;
  font-family: helvetica, arial, sans-serif;
}


/* ---CONTAINER--- */
#container {
  position: relative;
  top: 20px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #f8f8f8 0%,#e3e6e7 21%,#c8ced0 49%,#e4e8e8 80%,#f8f8f8 100%);
  box-shadow: 0px 0px 3px 5px rgba(50, 50, 50, 0.6);
}

/* ---GRID--- */

#canvas {
  border-bottom: 2px solid grey;
  width: auto;
  min-height: 200px;
  padding: 30px;
  text-align: center;
  position: relative;
}

.row {
  line-height: 0;
  clear: both;
  display: flex;
  justify-content: center;
}

.cell {
  border: 1px solid #E5E5E5;
  background-color: white;
  width: 18px;
  height: 18px;
}

/* ---GRID CONTROL--- */

#controls {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  /*background: linear-gradient(to bottom, #eeeeee 7%,#cccccc 75%);*/
  border-radius: 15px;
}

#grid-control {
  height: 100%;
  min-width: 30%;
  border-right: 1px solid #c2c2c2;
  padding: 10px;
}

/* ---COLORS--- */

#palette {
  display: flex;
  width: 100%;
  flex-direction: column;

}

#current {
  position: relative;
  width: 20px;
  height: 150px;
  margin: 5px 20px;
  border-radius: 3px;
}

.current {
  transform: rotate(270deg);
  position: relative;
  top: 100px;
}

.pal-row-1 {
  display: flex;
  position: relative;
  top: 20px;
  height: 60px;
  width: 100%;
  padding: 0px 20px;
}

.pal-row-2 {
  display: flex;
  position: relative;
  left: 20px;
  height: 60px;
  width: 100%;
  padding: 0px 20px;
}

.pal-row-3 {
  display: flex;
  position: relative;
  top: -20px;
  height: 60px;
  width: 100%;
  padding: 0px 20px;
}

.color {
  margin: 5px 5px;
  position: relative;
  top: -10px;
}

.blank {
  min-width: 20px;
}

.white {
  background-color: white;
}

#white {
  order: 1;
  background: -webkit-linear-gradient(white, white, #e2e2e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.black {
  background-color: black;
}

#black {
  order: 2;
  background: -webkit-linear-gradient(black, #424242, #393939);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red {
  background-color: red;
  /*border: none;*/
}

#red {
  order: 3;
  background: -webkit-linear-gradient(red, #f9726b, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange {
  background-color: orange;
}

#orange {
  order: 4;
  background: -webkit-linear-gradient(orange, coral, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow {
  background-color: yellow;
}

#yellow {
  order: 5;
  background: -webkit-linear-gradient(yellow, #f8f9a4, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lightgreen {
  background-color: lightgreen;
}

#lightgreen {
  order: 6;
  background: -webkit-linear-gradient(lightgreen, #aff7bc, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green {
  background-color: green;
}

#green {
  order: 7;
  background: -webkit-linear-gradient(green, #33af49, seagreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lightblue {
  background-color: lightblue;
}

#lightblue {
  order: 8;
  background: -webkit-linear-gradient(lightblue, skyblue, powderblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.royalblue {
  background-color: blue;
}

#royalblue {
  order: 9;
  background: -webkit-linear-gradient(royalblue, blue, #5c88e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 2nd row */
.gray {
  background-color: gray;
}

#gray {
  order: 1;
  background: -webkit-linear-gradient(gray, #b2b2b2, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lightcoral {
  background-color: lightcoral;
}

#lightcoral {
  order: 2;
  background: -webkit-linear-gradient(pink, lightcoral, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink {
  background-color: pink;
}

#pink {
  order: 3;
  background: -webkit-linear-gradient(lightcoral, pink, lightcoral);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coral {
  background-color: coral;
}

#coral {
  order: 4;
  background: -webkit-linear-gradient(coral, #eda480, coral);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cornsilk {
  background-color: cornsilk;
}

#cornsilk {
  order: 5;
  background: -webkit-linear-gradient(cornsilk, #f8f9a4, cornsilk);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lime {
  background-color: lime;
}

#lime {
  order: 6;
  background: -webkit-linear-gradient(lime, greenyellow, lime);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dodgerblue {
  background-color: dodgerblue;
}

#dodgerblue {
  order: 7;
  background: -webkit-linear-gradient(lightblue, dodgerblue, powderblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.darkviolet {
  background-color: darkviolet;
}

#darkviolet {
  order: 8;
  background: -webkit-linear-gradient(darkviolet, mediumpurple, darkviolet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 3rd row */
.lightgray {
  background-color: lightgray;
}

#lightgray {
  order: 1;
  background: -webkit-linear-gradient(lightgray, #c9c9c9, gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brown {
  background-color: brown;
}

#brown {
  order: 2;
  background: -webkit-linear-gradient(brown, #ba8034, brown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.indianred {
  background-color: indianred;
}

#indianred {
  order: 3;
  background: -webkit-linear-gradient(brown, indianred, brown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.crimson {
  background-color: crimson;
}

#crimson {
  order: 5;
  background: -webkit-linear-gradient(indianred, crimson, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lemonchiffon {
  background-color: lemonchiffon;
}

#lemonchiffon {
  order: 5;
  background: -webkit-linear-gradient(cornsilk, lemonchiffon, cornsilk);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold {
  background-color: gold;
}

#gold {
  order: 6;
  background: -webkit-linear-gradient(gold, #f1fc7e, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mediumspringgreen {
  background-color: mediumspringgreen;
}

#mediumspringgreen {
  order: 7;
  background: -webkit-linear-gradient(lightgreen, mediumspringgreen, lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plum {
  background-color: plum;
}

#plum {
  order: 8;
  background: -webkit-linear-gradient(thistle, plum, thistle);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thistle {
  background-color: thistle;
}

#thistle {
  order: 9;
  background: -webkit-linear-gradient(plum, thistle, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---INPUT--- */

.input {
  color: rgba(200, 200, 200, .7);
}

.focus {
  color: black;
}

/* ---TEXT--- */

h5 {
  font-family: Futura, Roboto, sans-serif;
  line-height: 0.5;
  /*font-size: 0.7rem;*/
}

p {
  color: #E9E9E9;
}
